@use '@/styles/vars.scss' as *;

.showAllCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 50px;
  &:hover {
    .arrowIcon {
      color: $color-black;
    }

    .showAllText {
      color: $color-black;
    }
  }
}

.showAllArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.arrowIcon {
  color: $color-text-muted;
  transition: all 0.3s ease;
}

.showAllText {
  font-size: 1.1rem;
  font-weight: 700;
  color: $color-text-muted;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease;
}
