@use '@/styles/vars.scss' as *;

.filterActions {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $gray-200;
  display: flex;
  justify-content: flex-end;
}

.applyButton {
  padding: 0.5rem 1rem;
  background: $primary-color;
  color: $color-black;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;

  &:hover:not(.disabled) {
    background: $primary-color-hover;
  }

  &.disabled {
    background: $bg-disabled;
    color: $color-text-disabled;
    cursor: not-allowed;
  }
}
