@use '@/styles/vars.scss' as *;

.mobileNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $bg-secondary;
  padding: 8px 16px;
  box-shadow: 0 -2px 10px $shadow-lg;
  z-index: 1000;
  border-top: 1px solid $border-primary;
}

.mobileNavItem {
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s;

  span {
    font-size: 12px;
  }

  &:hover {
    background: $primary-color-light;
  }

  &.active {
    background: $primary-color-light;
  }
}

@media screen and (max-width: 650px) {
  .mobileNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
