@use '@/styles/vars.scss' as *;

.button {
  background: $color-white;
  color: $color-text-secondary;
  border: 1px solid $border-secondary;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 42px;
  min-width: 182px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 4px 6px 4px $shadow-xl;

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    transition: fill 0.2s ease;
    fill: none;
  }

  &:hover {
    background: $bg-quaternary;
    border-color: $border-lighter;
    box-shadow: 4px 8px 6px $shadow-2xl;

    svg {
      fill: $accent-red;
    }
  }

  &:active {
    background: $border-secondary;
    box-shadow: 4px 4px 8px $shadow-3xl;
  }
}

@media screen and (max-width: 650px) {
  .button {
    min-width: auto;
  }
}
