@use '@/styles/vars.scss' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  padding: 1rem;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: 0.375rem;
  background-color: $color-white;
  color: $gray-800;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid $border-tertiary;

  &:hover {
    background-color: $bg-quinary;
    border-color: $border-hover;
  }

  &.active {
    background-color: $primary-color;
    color: $color-white;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  }
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  color: $gray-900;
}
