@use '@/styles/vars' as *;

.content {
  min-height: 400px;
  background: #fff;
  border-radius: $border-radius-m;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
