@use '@/styles/vars' as *;

.content {
  min-height: 400px;
  background: $bg-secondary;
  border-radius: $border-radius-m;
  padding: 2rem;
  border: 1px solid $border-primary;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
