@use '@/styles/vars' as *;

.content {
  min-height: 400px;
  background: $color-white;
  border-radius: $border-radius-m;
  padding: 2rem;
  box-shadow: 0 2px 4px $shadow-lg;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
