@use '@/styles/vars.scss' as *;

.breadcrumbs {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    @media screen and (max-width: 650px) {
        margin-bottom: 0.5rem;
    }
        .paths {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .homeLink {
        display: flex;
        align-items: center;
        color: $color-text-muted;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: $color-black;
        }
    }

    .path {
        color: $color-text-muted;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: $color-black;
        }
    }

    .separator {
        color: $color-text-muted;
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .title {
        font-weight: 600;
        margin: 0;
    }
}
